[MASTER]
ignore-paths=core/examples/.*|.*/examples/.*|core/tests/.*|.*/tests/.*|.*/\.venv/.*

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    broad-exception-caught,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-positional-arguments,
    import-outside-toplevel

[DESIGN]
max-returns=10

[FORMAT]
max-line-length=180

[SIMILARITIES]
min-similarity-lines=12

[SPELLING]
spelling-private-dict-file=.pylintdict
spelling-dict=en_US